In [74]:
import pandas as pd

In [75]:
filename = 'WA_Fn-UseC_-Marketing-Customer-Value-Analysis.csv'
dataUsers = pd.read_csv(filename)

In [76]:
dataUsers.head(2)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize

In [77]:
datausercopy = dataUsers.copy()

# Deleting a row

In [78]:
datausercopy.head(2)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize

In [79]:
datausercopy.count()

Customer                         9134
State                            9134
Customer Lifetime Value          9134
Response                         9134
Coverage                         9134
Education                        9134
Effective To Date                9134
EmploymentStatus                 9134
Gender                           9134
Income                           9134
Location Code                    9134
Marital Status                   9134
Monthly Premium Auto             9134
Months Since Last Claim          9134
Months Since Policy Inception    9134
Number of Open Complaints        9134
Number of Policies               9134
Policy Type                      9134
Policy                           9134
Renew Offer Type                 9134
Sales Channel                    9134
Total Claim Amount               9134
Vehicle Class                    9134
Vehicle Size                     9134
dtype: int64

In [80]:
del datausercopy['Response']

In [81]:
del datausercopy['Coverage']

In [82]:
del datausercopy['Effective To Date']

In [83]:
del datausercopy['Income']

In [84]:
del datausercopy['Location Code']

In [85]:
del datausercopy['Monthly Premium Auto']

In [86]:
datausercopy.head(2)

,Customer,State,Customer Lifetime Value,Education,EmploymentStatus,Gender,Marital Status,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,Bachelor,Employed,F,Married,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,Bachelor,Unemployed,F,Single,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize

In [87]:
del datausercopy['Months Since Last Claim']

In [88]:
del datausercopy['Months Since Policy Inception']

In [89]:
del datausercopy['Number of Open Complaints']

In [90]:
del datausercopy['Number of Policies']

In [91]:
del datausercopy['Policy Type']

In [92]:
del datausercopy['Policy']

In [93]:
del datausercopy['Renew Offer Type']

In [94]:
del datausercopy['Sales Channel']

In [101]:
del datausercopy['Customer Lifetime Value']

In [102]:
del datausercopy['Vehicle Class']

KeyError: 'Vehicle Class'

In [103]:
del datausercopy['Vehicle Size']

KeyError: 'Vehicle Size'

In [104]:
del datausercopy['Vehicle Size']

KeyError: 'Vehicle Size'

In [105]:
datausercopy.head(2)

  Customer       State Education EmploymentStatus Gender Marital Status
0  BU79786  Washington  Bachelor         Employed      F        Married
1  QZ44356     Arizona  Bachelor       Unemployed      F         Single

In [106]:
pd.value_counts(datausercopy['Gender'])

F    4658
M    4476
Name: Gender, dtype: int64

In [107]:
print(datausercopy.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 6 columns):
Customer            9134 non-null object
State               9134 non-null object
Education           9134 non-null object
EmploymentStatus    9134 non-null object
Gender              9134 non-null object
Marital Status      9134 non-null object
dtypes: object(6)
memory usage: 428.2+ KB
None

In [115]:
labelsEducation = datausercopy['Education'].astype('category').cat.categories.tolist()

In [110]:
labelState = datausercopy['State'].astype('category').cat.categories.tolist()

In [156]:
labelEmploymentStatus = datausercopy['EmploymentStatus'].astype('category').cat.categories.tolist()

In [121]:
labelGender = datausercopy['Gender'].astype('category').cat.categories.tolist()

In [122]:
labelMaritalStatus = datausercopy['Marital Status'].astype('category').cat.categories.tolist()

In [123]:
print(labelsEducation,)

(['Bachelor', 'College', 'Doctor', 'High School or Below', 'Master'],)

In [124]:
print(labelState)

['Arizona', 'California', 'Nevada', 'Oregon', 'Washington']

In [120]:
print(labelGender)

['F', 'M']

In [125]:
print(labelMaritalStatus)

['Divorced', 'Married', 'Single']

In [127]:
print(labelEmploymentStatus)

['Disabled', 'Employed', 'Medical Leave', 'Retired', 'Unemployed']

In [160]:
replace_map_comp = {'Education' : {k: v for k,v in zip(labelsEducation,list(range(1,len(labels)+1)))}}

In [138]:
replace_map_state = {'State' : {k: v for k,v in zip(labelState,list(range(1,len(labels)+1)))}}

In [157]:
replace_map_employmentStatus = {'EmploymentStatus' : {k: v for k,v in zip(labelEmploymentStatus ,list(range(1,len(labels)+1)))}}

In [158]:
replace_map_gender= {'Gender' : {k: v for k,v in zip(labelGender,list(range(1,len(labels)+1)))}}

In [150]:
replace_map_maritalStatus= {'Marital Status' : {k: v for k,v in zip(labelMaritalStatus,list(range(1,len(labels)+1)))}}

In [151]:
datausercopy.replace(replace_map_state, inplace=True)

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [152]:
datausercopy.replace(replace_map_employmentStatus, inplace=True)

In [153]:
datausercopy.replace(replace_map_gender, inplace=True)

In [154]:
datausercopy.replace(replace_map_maritalStatus, inplace=True)

In [ ]:
datausercopy.replace(replace_map_comp, inplace=True)

In [159]:
print(datausercopy.head())

  Customer  State Education  EmploymentStatus  Gender  Marital Status
0  BU79786      5  Bachelor                 2       1               2
1  QZ44356      1  Bachelor                 5       1               3
2  AI49188      3  Bachelor                 2       1               2
3  WW63253      2  Bachelor                 5       2               2
4  HB64268      5  Bachelor                 2       2               3